#!/usr/bin/env bash

_BROWSER_SYNC_CONTAINER="os-bs"
_BROWSER_SYNC_DOCKER_IMAGE="ustwo/browser-sync"
_BROWSER_SYNC_SITE_PORT=3000
_BROWSER_SYNC_ADMIN_PORT=3001
_BROWSER_SYNC_SITE_OS_WEB_PORT=80 # Port os_web
_BROWSER_SYNC_PROJECT_FOLDER="$HOME/open_solutions"
_BROWSER_SYNC_PROJECT_MAPPING_FOLDER="/var/www/html/open_solutions"
_BROWSER_SYNC_PROJECT_MAPPING_WEB_FOLDER="${_BROWSER_SYNC_PROJECT_MAPPING_FOLDER}/web"
