#!/usr/bin/env bash
# Variable should be registered removing the special characters from the name
# and in Uppercase.
# Script will do $(echo ${_DB_CREATE_SERVER^^} | sed 's/\W//g')

# mysql server credentials for hosts xxxx
_DB_CREATE_USER_XXXXX="xxxxx"
_DB_CREATE_PASS_XXXXX="****"

# ssh server credentials for hosts xxxx
_DB_CREATE_SSH_USER_XXXXX="xxxxx"
_DB_CREATE_SSH_PASS_XXXXX="****"
