#!/usr/bin/env bash

_LOCAL_SETUP_SUBSCRIPTION_ENVIRONMENT=test
_LOCAL_SETUP_WORKSPACE="${HOME}/open_solutions"
_LOCAL_SETUP_WEB_WORKSPACE="${HOME}/open_solutions/web"
_LOCAL_SETUP_NFS_FILES="${HOME}/open_solutions/files"
_LOCAL_SETUP_CONFIGS="${HOME}/open_solutions/configs"
_LOCAL_SETUP_DB_DST="local"
_LOCAL_SETUP_DOCKER_CONTAINERS="os_cli os_web os_source os_db"
_LOCAL_SETUP_DATABASE_DOCKER_CONTAINER="os_db"
_LOCAL_SETUP_DOCKER_CONTAINER_CLI="os_cli"
_LOCAL_SETUP_DOCKER_CONTAINER_WEB="os_web"
_LOCAL_SETUP_DATABASE_CITDEV="jnjdevmys04.cit"
_LOCAL_SETUP_PARAMETER_DB_LOCAL="local"
_LOCAL_SETUP_PARAMETER_DB_CITDEV="citdev"
_LOCAL_SETUP_DATABASE_SCRIPT="run_database.sh"
