#!/usr/bin/env bash

_MTP_ENVIRONMENT_PROD="prod"
_MTP_ENVIRONMENT_TEST="test"
_MTP_ENVIRONMENT_DEV="dev"
_MTP_ACQUIA_REPO_MASTER_RESOURCE="master"
_MTP_WORKSPACE="${HOME}/open_solutions"
_MTP_ACQUIA_WORKSPACE="${_MTP_WORKSPACE}/acquia"
_MTP_DOCKER_CONTAINER="os_cli"
_MTP_DRUPAL_CORE_VERSION="7.x"
_MTP_PLATFORM_CODE_MODIFICATION=false
_MTP_DETECT_CODE_MODIFICATION_HTACCESS=false
